
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');
/*
Paleta de Cores do Projeto
#cdb4db
#ffc8dd
#ffafcc
#bde0fe
#a2d2ff
*/

/*Configurações Gerais*/
body{
    background-color: #fcd7e5;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
header{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    font-family: 'Parisienne', cursive;
    font-size: 4em;
    text-align: center;
}
h2{
    font-family: 'Parisienne', cursive;
    font-size: 2.5em;
    text-shadow: rgba(0, 0, 0, 0.186) 2px 2px;
}

/*Menu/Navegação*/

nav{
    height: 50px;
    background-color: #FFF;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li{
    display: inline-block;
}
nav li a{
    color: #fa94b9 ;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
}
nav li a:hover{
    color: #ff5795;
    border: solid 1px #ffafcc;
    border-radius: 5px;
    font-weight: 500;
}

/*Main Content*/
main{
    width: 80%;
    margin: 0 auto;
}

.slider{
    width: 80vw;
    border: solid 1px #ccc;
    margin-bottom: 1%;
}

/*CONTEINER SOBRE*/
#sobre{
    margin-bottom: 2%;
}

#sobre p{
    margin-top: 1%;
    text-indent: 4em;
}
.store-img{
    width: 20vw;
    box-shadow: rgba(0, 0, 0, 0.186) 3px 3px;
}


/*CONTEINER CATÁLOGO*/
#catalogo{
    margin-bottom: 2%;
}
#catalogo h2{
    margin-bottom: 2%;
}
#img-1{
    background-color: #f6e6ec;
    width: 33%;
    height: 500px;
    display: inline-block;
}
#img-2{
    background-color: #fbc8db;
    width: 33%;
    height: 500px;
    display: inline-block;
}
#img-3{
    background-color: #f6e6ec;
    width: 33%;
    height: 500px;
    display: inline-block;
}


/*CONTATO*/
#contato{
    text-align: center;
}

#contato p{
    font-size: 1em;
    font-weight: bold;
}
.form{
    font-size: 1em;
    margin-bottom: 1%;
    width: 40%;
    border: none;
    min-height: 30px;
}

.msg{
    width: 40%;
    min-height: 80px;
    font-size: 1em;
}
.enviar{
    width: 20%;
    height: 30px;
    color: #fff;
    background-color:  #f178a5;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 1%;
}
.enviar:hover{
    background-color: #f2548e;
}

/*Footer*/
footer{
    height: 50px;
    background-color: #FFF;
    text-align: center;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}